<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la Película</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace="header2 :: myheader2"></div>
    <style>
        .img-container {
            height: 650px;
            width: auto;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 text-center">
            <img
                    th:src="@{${film.poster}}"
                    alt="Poster de la película"
                    class="img-fluid img-container"
            />
        </div>

        <div class="col-md-4">
            <h1 class="mb-3" th:text="${film.title}"></h1>
            <p class="lead" th:text="'Año de Estreno: ' + ${film.releaseYear}"></p>

            <h3>Director</h3>
            <p th:text="${film.director.name + ' ' + film.director.surname}"></p>

            <h3>Actores</h3>
            <ul>
                <li th:each="actor : ${film.actors}" th:text="${actor.name + ' ' + actor.surname}"></li>
            </ul>
            <h3>Average Rating</h3>
            <p th:text="${averageRating}"></p>
            <div th:if="${success}">
                <p th:text="${success}"></p>
            </div>
            <div th:if="${error}">
                <p th:text="${error}"></p>
            </div>
            <p>Tu calificación: <span th:text="${personalRating}"></span></p>
            <div th:if="${guardado != null}" class="alert alert-success">
                <p th:text="${guardado}"></p>
            </div>
            <div th:if="${errorcalificacion != null}" class="alert alert-danger">
                <p th:text="${errorcalificacion}"></p>
            </div>

            <form th:action="@{/film/${id}}" method="post" class="form-group">
                <input type="hidden" name="filmId" th:value="${film.id}"/>
                <select name="rating" class="form-control" required>
                    <option value="" disabled selected>Selecciona una puntuación</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </br>
                <button type="submit" class="btn btn-primary">Valorar Película</button>
            </form>

            <a href="/searchFilm" class="btn btn-secondary mt-3">Volver</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
