<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace="header2 :: myheader2"></div>
</head>
<body>
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
        <p class="lead">Has iniciado sesión correctamente. ¡Disfruta explorando el sitio!</p>
        <a href="/searchFilm" class="btn btn-primary mt-3">Explorar Ahora</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
